.topCities_Wrapper .container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 1.875rem auto;
  padding: 0 0.9375rem;
}
.topCities_Wrapper .label {
  background: #333;
  color: #fff;
  padding: 8px 10px 2px 10px;
  line-height: 1.5rem;
  font-weight: 700;
  margin-right: 10px;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}
.topCities_Wrapper .city_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 7px;
  margin-top: 5px;
}
.topCities_Wrapper .city_list li {
  position: relative;
}
.topCities_Wrapper .city_list li:after {
  content: "/";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  font-size: 1.25rem;
  line-height: 30px;
  color: #afafaf;
  font-weight: 400;
}
.topCities_Wrapper .city_list li:last-child:after {
  content: none;
}
.topCities_Wrapper .city_list li a {
  color: #000;
  font-size: 1rem;
  display: block;
  margin-right: 1.25rem;
  position: relative;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  line-height: 30px;
}
.topCities_Wrapper .city_list li a:hover {
  color: #ef6c00;
  border-bottom: 1px solid #ef6c00;
}
.topCities_Wrapper .city_list li a.active {
  color: #ef6c00;
  border-bottom: 1px solid #ef6c00;
}
@media (width <= 768px) {
  .topCities_Wrapper {
    margin-bottom: 1rem;
  }
  .topCities_Wrapper .label {
    font-size: 1rem;
    font-weight: 400;
  }
  .topCities_Wrapper .city_list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: calc(100% - 102px);
  }
  .topCities_Wrapper .city_list::-webkit-scrollbar {
    display: none;
  }
}
