.stateNewsHome_Widget {
  margin-bottom: 1.25rem;
}
.stateNewsWidget_Wrapper .stateLinks {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 0.9375rem;
  list-style: none;
  padding: 0;
}
.stateNewsWidget_Wrapper .stateLinks::-webkit-scrollbar {
  display: none;
}
.stateNewsWidget_Wrapper .stateLinks li {
  padding: 0 15px;
  font-size: 0.875rem;
  line-height: 1.6rem;
  color: #4b4b4b;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  border-radius: 50px;
  margin-right: 0.625rem;
  white-space: nowrap;
  text-transform: capitalize;
}
.stateNewsWidget_Wrapper .stateLinks li:last-child {
  margin-right: 0;
}
.stateNewsWidget_Wrapper .stateLinks li.active {
  border-color: #dc0000;
  color: #dc0000;
}
.stateNewsWidget_Wrapper .stateLinks li:hover {
  border-color: #dc0000;
  color: #dc0000;
}
.stateNewsWidget_Wrapper .newsGridWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.stateNewsWidget_Wrapper .newsGridWrapper .imgThumb {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: max-content;
  margin-bottom: 0.625rem;
}
.stateNewsWidget_Wrapper .newsGridWrapper .imgThumb img {
  width: 100%;
  display: block;
  aspect-ratio: 16/9;
}
.stateNewsWidget_Wrapper .newsGridWrapper .card_title .h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (width <= 768px) {
  .stateNewsWidget_Wrapper .newsGridWrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure {
    margin-bottom: 0.9375rem;
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #d7d7d7;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure a {
    display: grid;
    grid-template-columns: 1fr 140px;
    gap: 10px;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper .imgThumb {
    order: 2;
    position: relative;
    height: max-content;
    margin-bottom: 0;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper .imgThumb img {
    margin-bottom: 0;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper .card_title .h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure:first-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure:first-child a {
    grid-template-columns: 1fr;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure:first-child .imgThumb {
    order: unset;
  }
  .stateNewsWidget_Wrapper .newsGridWrapper figure:first-child .card_title .h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
  }
}
